# Database URL for Prisma
# Replace with your actual credentials
DATABASE_URL="postgresql://cosmediate_app:wAnCFibTB0I5us0JD4BN@cosmediate-pg.cluster-cjuq4qwg09xv.eu-central-1.rds.amazonaws.com:5432/cosmediate_prod?sslmode=require"

SHADOW_DATABASE_URL="postgresql://cosmediate_app:wAnCFibTB0I5us0JD4BN@cosmediate-pg.cluster-cjuq4qwg09xv.eu-central-1.rds.amazonaws.com:5432/cosmediate_shadow?sslmode=require"
