.tabs-trigger[data-state="active"]::before,
.tabs-trigger[data-state="active"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 20px;
  background: transparent;
}

.tabs-trigger[data-state="active"]::before {
  bottom: -1px;
  left: -20px;
  border-bottom-right-radius: 15px;
  box-shadow: 10px 0 0 0 white;
  /* background-color: red; */
}

.tabs-trigger[data-state="active"]::after {
  bottom: -1px;
  right: -20px;
  border-bottom-left-radius: 15px;
  box-shadow: -10px 0 0 0 white;
}
